@model Model.EntityFramework.Content
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="site-content" tabindex="-1">
    <div class="container">

        <nav itemprop="breadcrumb" class="woocommerce-breadcrumb"><a href="home.html">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span><a href="#">Tin tức</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>@Model.Name</nav>

        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <article class="post type-post status-publish format-gallery has-post-thumbnail hentry">
                    <div class="media-attachment">
                        <div class="media-attachment-gallery">
                            <div class=" ">
                                <div class="item">
                                    <figure>
                                        <img width="1144" height="600" src= @Model.Image class="attachment-post-thumbnail size-post-thumbnail" alt="1">
                                    </figure>
                                </div><!-- /.item -->
                            </div>
                        </div><!-- /.media-attachment-gallery -->
                    </div>

                    <header class="entry-header">
                        <h1 class="entry-title" itemprop="name headline">@Model.Description<span class="comments-link"><a href="#comments">Bình luận</a></span></h1>
                        
                        <div class="entry-meta">
                            <span class="cat-links"><a href="#" rel="category tag">
                                  <ul>
                                      @{
                                          var tags = (List<Model.EntityFramework.Tag>)ViewBag.Tags;
                                          foreach (var s in tags)
                                          {
                                              <li><a href="/tag/@s.ID">@s.Name</a></li>
                                          }
                                      }
                                  </ul>
                            </span>
                            <span class="posted-on"><a href="#" rel="bookmark"><time class="entry-date published" datetime="2016-03-04T07:34:20+00:00">@Model.CreatedDate</time> <time class="updated" datetime="2016-03-04T18:46:11+00:00" itemprop="datePublished">@Model.ModifiedDate</time></a></span>
                        </div>

                    </header><!-- .entry-header -->
                    <div class="entry-content" itemprop="articleBody">
                            <p class="highlight">@Model.Description</p>
                            <p>@Model.Detail</p>
                    </div><!-- .entry-content -->
                </article>
              
                <nav class="navigation post-navigation">
                    <h2 class="screen-reader-text">Post navigation</h2>
                    <div class="nav-links"><div class="nav-previous"><a rel="prev" href="~/Content/index"><span class="meta-nav">←</span>&nbsp;@Model.Name</a></div></div>
                </nav>
           
            </main><!-- #main -->
        </div><!-- #primary -->

        <div id="sidebar" class="sidebar-blog" role="complementary">
            <aside id="search-2" class="widget widget_search">
                <form role="search" method="get" class="search-form" action="#">
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
            </aside>
            <aside class="widget widget_text">
                <h3 class="widget-title">Giới thiệu</h3>
                <div class="textwidget">Đây là trang tin tức</div>
            </aside>
            <aside class="widget widget_categories">
                <h3 class="widget-title">Danh mục</h3>
                <ul>
                    @{
                        var categories = (List<Model.EntityFramework.Category>)ViewBag.category;
                        foreach (var category in categories)
                        {
                            <li><a href="~/Content/Category/@category.ID">@category.Name</a></li>
                        }
                    }
                </ul>
            </aside>
            <aside class="widget electro_recent_posts_widget">
                <h3 class="widget-title">Tin tức gần đây</h3>
                <ul>
                    @{
                        var recentpost = (List<Model.EntityFramework.Content>)ViewBag.recentpost;
                        foreach (var category in recentpost)
                        {
                            <li>
                                <a class="post-thumbnail" href="/Content/Detail/@category.ID"><img width="150" height="150" src=@category.Image class="wp-post-image" alt="1"></a>
                                <div class="post-content">
                                    <a class="post-name" href="/Content/Detail/@category.ID">@category.Name</a>
                                    <span class="post-date">@category.CreatedDate</span>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </aside>
            <aside id="tag_cloud-2" class="widget widget_tag_cloud">
                <h3 class="widget-title">Danh mục tag</h3>
   
                    <div class="tagcloud">
                        @{
                            var tag = (List<Model.EntityFramework.Tag>)ViewBag.tag;
                            foreach (var item in tag)
                            {
                                <a href="/Content/Tag/@item.ID" class="" title="10 topics" style="font-size: 22pt;">@item.Name</a>
                            }

                        }
                    </div>

            </aside>
        </div>
    </div><!-- .container -->
</div>