@model IEnumerable<Model.EntityFramework.Slide>

@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section jsFooter
    {
    <script src="/assets/admin/js/Controllers/Slides.js"></script>
    <script src="/assets/admin/js/pages/crud/forms/widgets/bootstrap-select.js" type="text/javascript"></script>
    <script src="/assets/admin/js/pages/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="/assets/admin/js/pages/crud/datatables/extensions/buttons.js" type="text/javascript"></script>

}

<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Quản lý Slide
                </h3>

            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">


                    <div class="dropdown dropdown-inline">
                        @*<button type="button" class="btn btn-brand btn-icon-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon2-plus"></i> Add New
                            </button>*@

                        @Html.ActionLink("Thêm Slide", "Create", "Slide", null, new { @class = "flaticon2-plus btn btn-brand btn-icon-sm" })


                    </div>
                </div>
            </div>
        </div>


        <div class="kt-portlet__body">
            @using (Html.BeginForm("Index", "Slide", FormMethod.Get, new { @class = "kt-form kt-form--fit kt-margin-b-20" }))
            {

                <!--begin: Search Form -->

                <div class="row kt-margin-b-20">

                    <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <label>Tên danh mục:</label>
                        <input value="@ViewBag.Name" name="name" type="text" class="form-control kt-input" placeholder="Nhận tên danh mục" data-col-index="1">
                    </div>


                    <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                        <label>Trạng thái:</label>
                        @Html.DropDownList("status", (SelectList)ViewBag.Status, "--Chọn trạng thái--", htmlAttributes: new { @class = "form-control kt-input" })
                    </div>

                </div>

                <div class="kt-separator kt-separator--md kt-separator--dashed"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-primary btn-brand--icon" id="kt_search">
                            <span>
                                <i class="la la-search"></i>
                                <span>Search</span>
                            </span>
                        </button>
                        &nbsp;&nbsp;
                        <a href="Admin/Slide/Index" class="btn btn-secondary btn-secondary--icon">
                            <i class="la la-close"></i>
                            <span>Reset</span>
                        </a>


                    </div>

                </div>
            }

            <!--begin: Datatable -->
            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Hình ảnh</th>
                        <th>Mô tả</th>
                        <th>Link</th>
                        <th>Ngày tạo</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var count = 0;}
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>

                                <img src="@item.Image" style="width:300px; height:100px;  object-fit: scale-down;" class="m-img-rounded kt-marginless" alt="photo">

                            </td>
                            <td>
                                @item.Description
                            </td>

                            <td>   @item.Link </td>


                            <td> @item.CreatedDate.Value.ToString("dd/MMM/yyyy")</td>

                            @if (item.Status != null && item.Status.Value)
                            {
                                <td>
                                    <span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill">Hiển thị</span>

                                </td>
                            }
                            else if (!item.Status.Value)
                            {
                                <td>
                                    <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill">Đã Ẩn</span>

                                </td>
                            }

                            <td>

                                <a href="/Admin/ProductCategory/Edit/@item.ID" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Chỉnh sửa">
                                    <i class="la la-edit"></i>
                                </a>

                                <a  title="Kích hoạt" data-id="@item.ID" href="/Admin/Slide/ChangeProductStatus/@item.ID">
                                    <i class="la la-check"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>STT</th>
                        <th>Hình ảnh</th>
                        <th>Mô tả</th>
                        <th>Link</th>
                        <th>Ngày tạo</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>

            <!--end: Datatable -->
        </div>
    </div>

</div>

<!-- end:: Content -->