@model Model.EntityFramework.Product


@{

    ViewBag.Title = "Detail";
    ViewBag.Header = "single-product full-width";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var category = (Model.EntityFramework.ProductCategory)ViewBag.Category;
}


<div class="container">

    <nav class="woocommerce-breadcrumb">
        <a href="/">Trang chủ</a>
        <span class="delimiter"><i class="fa fa-angle-right"></i></span>
        <a href="product-category.html">@category.Name</a>
       
            <i class="fa fa-angle-right"></i>
        </span>@Model.Name
    </nav><!-- /.woocommerce-breadcrumb -->

    <div id="primary" class="content-area">
        <main id="main" class="site-main">

            <div class="product">

                <div class="single-product-wrapper">
                    <div class="product-images-wrapper">
                        <span class="onsale">Sale!</span>
                        <div class="images electro-gallery">
                            <div class="thumbnails-single owl-carousel">
                                <a href="images/single-product/s1-1.jpg" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="@Model.Image" data-echo="@Model.Image" class="wp-post-image" alt=""></a>

                                @*<a href="images/single-product/s1.jpg" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="/assets/client/images/blank.gif" data-echo="/assets/client/images/single-product/s1.jpg" class="wp-post-image" alt=""></a>

                                <a href="images/single-product/s2.jpg" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="/assets/client/images/blank.gif" data-echo="/assets/client/images/single-product/s2.jpg" class="wp-post-image" alt=""></a>

                                <a href="images/single-product/s3.jpg" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="/assets/client/images/blank.gif" data-echo="/assets/client/images/single-product/s3.jpg" class="wp-post-image" alt=""></a>

                                <a href="images/single-product/s4.jpg" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="/assets/client/images/blank.gif" data-echo="/assets/client/images/single-product/s4.jpg" class="wp-post-image" alt=""></a>

                                <a href="images/single-product/s5.jpg" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="/assets/client/images/blank.gif" data-echo="/assets/client/images/single-product/s5.jpg" class="wp-post-image" alt=""></a>*@
                            </div><!-- .thumbnails-single -->

                            <div class="thumbnails-all columns-5 owl-carousel">
                                <a href="images/single-product/single-thumb1.jpg" class="first" title=""><img src="@Model.Image" data-echo="@Model.Image" class="wp-post-image" alt=""></a>

                                @*<a href="images/single-product/single-thumb2.jpg" class="" title=""><img src="/assets/client/images/blank.gif" data-echo="/assets/client/images/single-product/single-thumb2.jpg" class="wp-post-image" alt=""></a>

                                <a href="images/single-product/single-thumb3.jpg" class="" title=""><img src="/assets/client/images/blank.gif" data-echo="/assets/client/images/single-product/single-thumb3.jpg" class="wp-post-image" alt=""></a>

                                <a href="images/single-product/single-thumb4.jpg" class="" title=""><img src="/assets/client/images/blank.gif" data-echo="/assets/client/images/single-product/single-thumb4.jpg" class="wp-post-image" alt=""></a>

                                <a href="images/single-product/single-thumb5.jpg" class="last" title=""><img src="/assets/client/images/blank.gif" data-echo="/assets/client/images/single-product/single-thumb5.jpg" class="wp-post-image" alt=""></a>

                                <a href="images/single-product/single-thumb6.jpg" class="first" title=""><img src="/assets/client/images/blank.gif" data-echo="/assets/client/images/single-product/single-thumb6.jpg" class="wp-post-image" alt=""></a>*@
                            </div><!-- .thumbnails-all -->
                        </div><!-- .electro-gallery -->
                    </div><!-- /.product-images-wrapper -->

                    <div class="summary entry-summary">

                        <span class="loop-product-categories">
                            <a href="product-category.html" rel="tag">@category.Name</a>
                        </span><!-- /.loop-product-categories -->

                        <h1 itemprop="name" class="product_title entry-title">@Model.Name</h1>

                        @*<div class="woocommerce-product-rating">
                                <div class="star-rating" title="Rated 4.33 out of 5">
                                    <span style="width:86.6%">
                                        <strong itemprop="ratingValue" class="rating">4.33</strong>
                                        out of <span itemprop="bestRating">5</span>				based on
                                        <span itemprop="ratingCount" class="rating">3</span>
                                        customer ratings
                                    </span>
                                </div>

                                <a href="#reviews" class="woocommerce-review-link">(<span itemprop="reviewCount" class="count">3</span> customer reviews)</a>
                            </div>*@<!-- .woocommerce-product-rating -->

                  
                        @if (Model.Quantity > 0)
                        {
                            <div class="availability in-stock">
                                Trạng thái:
                                <span>Còn hàng</span>

                            </div><!-- .availability -->

                        }
                        else
                        {
                            <div class="availability out-of-stock">
                                Trạng thái:
                                <span>Hết hàng</span>
                            </div><!-- .availability -->

                        }


                        <hr class="single-product-title-divider" />

                    

                        <div itemprop="description">
                            @Html.Raw(Model.Description)
                        </div><!-- .description -->

                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                            <p class="price">
                                <span class="electro-price">
                                    <ins>
                                        <span class="amount">
                                            @if (Model.PromotionPrice != 0)
                                            {
                                                @Convert.ToDecimal(Model.PromotionPrice).ToString("#,##0")
                                            }
                                            else
                                            {
                                                @Convert.ToDecimal(Model.Price).ToString("#,##0")
                                            }



                                        </span>
                                    </ins> <del>
                                        <span class="amount">
                                            @if (Model.PromotionPrice != 0)
                                            {
                                                @Convert.ToDecimal(Model.Price).ToString("#,##0")
                                            }


                                        </span>
                                    </del>
                                </span>
                            </p>

                            <meta itemprop="price" content="1215" />
                            <meta itemprop="priceCurrency" content="VND" />
                            <link itemprop="availability" href="http://schema.org/InStock" />

                        </div><!-- /itemprop -->

                        <form class="variations_form cart" method="post">

                            <table class="variations">
                                <tbody>
                                    @*<tr>
                                        <td class="label"><label>Color</label></td>
                                        <td class="value">
                                            <select class="" name="attribute_pa_color">
                                                <option value="">Choose an option</option>
                                                <option value="black-with-red">Black with Red</option>
                                                <option value="white-with-gold" selected='selected'>White with Gold</option>
                                            </select>
                                            <a class="reset_variations" href="#">Clear</a>
                                        </td>
                                    </tr>*@
                                </tbody>
                            </table>


                            <div class="single_variation_wrap">
                                <div class="woocommerce-variation single_variation"></div>
                                <div class="woocommerce-variation-add-to-cart variations_button">
                                    <div class="quantity">
                                        @*<label>Quantity:</label>
                                        <input type="number" name="quantity" value="1" title="Qty" class="input-text qty text" />*@
                                    </div>
                                    <a></a>
                                    @if (Model.Quantity > 0)
                                    {
                                        <a href="/them-gio-hang?productId=@Model.ID&quantity=1" class="single_add_to_cart_button button">
                                            <span>Thêm vào giỏ</span>
                                        </a>

                                    }

                                    @*<button type="submit" class="single_add_to_cart_button button">Thêm vào giỏ</button>*@
                                    <input type="hidden" name="add-to-cart" value="2452" />
                                    <input type="hidden" name="product_id" value="2452" />
                                    <input type="hidden" name="variation_id" class="variation_id" value="0" />
                                </div>
                            </div>
                        </form>

                    </div><!-- .summary -->
                </div><!-- /.single-product-wrapper -->


                <div class="woocommerce-tabs wc-tabs-wrapper">
                    <ul class="nav nav-tabs electro-nav-tabs tabs wc-tabs" role="tablist">
             

                        <li class="nav-item description_tab">
                            <a href="#tab-description" class="active" data-toggle="tab">Mô tả sản phẩm</a>
                        </li>

                        <li class="nav-item specification_tab">
                            <a href="#tab-specification" data-toggle="tab">Thông số kỹ thuật</a>
                        </li>

                      
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane panel entry-content wc-tab" id="tab-accessories">

                            <div class="accessories">

                                <div class="electro-wc-message"></div>
                                <div class="row">
                                

                                    <div class="col-xs-12 col-sm-3 col-right">
                                        <div class="total-price">
                                            <span class="total-price-html">
                                                <span class="amount">&#036;1,424.00</span>
                                            </span>
                                            for <span class="total-products">3</span>
                                            items
                                        </div><!-- /.total-price -->

                                        <div class="accessories-add-all-to-cart">
                                            <button type="button" class="button btn btn-primary add-all-to-cart">Add all to cart</button>
                                        </div><!-- /.accessories-add-all-to-cart -->
                                    </div><!-- /.col -->
                                </div><!-- /.row -->

                            </div><!-- /.accessories -->
                        </div>

                        <div class="tab-pane active in panel entry-content wc-tab" id="tab-description">
                            @Html.Raw(Model.Content)

                            <div class="product_meta">
                            

                            </div><!-- /.product_meta -->
                        </div>

                        <div class="tab-pane panel entry-content wc-tab" id="tab-specification">
                            <h3>Thông số kỹ thuật</h3>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Brand</td>
                                        <td>Apple</td>
                                    </tr>
                                    <tr>
                                        <td>Item Height</td>
                                        <td>18 Millimeters</td>
                                    </tr>
                                    <tr>
                                        <td>Item Width</td>
                                        <td>31.4 Centimeters</td>
                                    </tr>
                                    <tr>
                                        <td>Screen Size</td>
                                        <td>13 Inches</td>
                                    </tr>
                                    <tr class="size-weight">
                                        <td>Item Weight</td>
                                        <td>1.6 Kg</td>
                                    </tr>
                                    <tr class="size-weight">
                                        <td>Product Dimensions</td>
                                        <td>21.9 x 31.4 x 1.8 cm</td>
                                    </tr>
                                    <tr class="item-model-number">
                                        <td>Item model number</td>
                                        <td>MF841HN/A</td>
                                    </tr>
                                    <tr>
                                        <td>Processor Brand</td>
                                        <td>Intel</td>
                                    </tr>
                                    <tr>
                                        <td>Processor Type</td>
                                        <td>Core i5</td>
                                    </tr>
                                    <tr>
                                        <td>Processor Speed</td>
                                        <td>2.9 GHz</td>
                                    </tr>
                                    <tr>
                                        <td>RAM Size</td>
                                        <td>8 GB</td>
                                    </tr>
                                    <tr>
                                        <td>Hard Drive Size</td>
                                        <td>512 GB</td>
                                    </tr>
                                    <tr>
                                        <td>Hard Disk Technology</td>
                                        <td>Solid State Drive</td>
                                    </tr>
                                    <tr>
                                        <td>Graphics Coprocessor</td>
                                        <td>Intel Integrated Graphics</td>
                                    </tr>
                                    <tr>
                                        <td>Graphics Card Description</td>
                                        <td>Integrated Graphics Card</td>
                                    </tr>
                                    <tr>
                                        <td>Hardware Platform</td>
                                        <td>Mac</td>
                                    </tr>
                                    <tr>
                                        <td>Operating System</td>
                                        <td>Mac OS</td>
                                    </tr>
                                    <tr>
                                        <td>Average Battery Life (in hours)</td>
                                        <td>9</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.panel -->

                   
                    </div>
                </div><!-- /.woocommerce-tabs -->

                <div class="related products">
                    <h2>Sản phẩm liên quan</h2>

                    <ul class="products columns-5">


                        <li class="product">
                            <div class="product-outer">
                                <div class="product-inner">
                                    <span class="loop-product-categories"><a href="product-category.html" rel="tag">Smartphones</a></span>
                                    <a href="single-product.html">
                                        <h3>Notebook Black Spire V Nitro  VN7-591G</h3>
                                        <div class="product-thumbnail">
                                            <img data-echo="/assets/client/images/products/1.jpg" src="/assets/client/images/blank.gif" alt="">
                                        </div>
                                    </a>

                                    <div class="price-add-to-cart">
                                        <span class="price">
                                            <span class="electro-price">
                                                <ins><span class="amount">&#036;1,999.00</span></ins>
                                            </span>
                                        </span>
                                        <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                    </div><!-- /.price-add-to-cart -->

                                    <div class="hover-area">
                                        <div class="action-buttons">
                                            <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                            <a href="#" class="add-to-compare-link">Compare</a>
                                        </div>
                                    </div>
                                </div><!-- /.product-inner -->
                            </div><!-- /.product-outer -->
                        </li>

                        <li class="product">
                            <div class="product-outer">
                                <div class="product-inner">
                                    <span class="loop-product-categories"><a href="product-category.html" rel="tag">Smartphones</a></span>
                                    <a href="single-product.html">
                                        <h3>Notebook Black Spire V Nitro  VN7-591G</h3>
                                        <div class="product-thumbnail">
                                            <img data-echo="/assets/client/images/products/2.jpg" src="/assets/client/images/blank.gif" alt="">
                                        </div>
                                    </a>

                                    <div class="price-add-to-cart">
                                        <span class="price">
                                            <span class="electro-price">
                                                <ins><span class="amount">&#036;1,999.00</span></ins>
                                            </span>
                                        </span>
                                        <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                    </div><!-- /.price-add-to-cart -->

                                    <div class="hover-area">
                                        <div class="action-buttons">
                                            <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                            <a href="#" class="add-to-compare-link">Compare</a>
                                        </div>
                                    </div>
                                </div><!-- /.product-inner -->
                            </div><!-- /.product-outer -->
                        </li>

                        <li class="product">
                            <div class="product-outer">
                                <div class="product-inner">
                                    <span class="loop-product-categories"><a href="product-category.html" rel="tag">Smartphones</a></span>
                                    <a href="single-product.html">
                                        <h3>Notebook Black Spire V Nitro  VN7-591G</h3>
                                        <div class="product-thumbnail">
                                            <img data-echo="/assets/client/images/products/3.jpg" src="/assets/client/images/blank.gif" alt="">
                                        </div>
                                    </a>

                                    <div class="price-add-to-cart">
                                        <span class="price">
                                            <span class="electro-price">
                                                <ins><span class="amount">&#036;1,999.00</span></ins>
                                            </span>
                                        </span>
                                        <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                    </div><!-- /.price-add-to-cart -->

                                    <div class="hover-area">
                                        <div class="action-buttons">
                                            <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                            <a href="#" class="add-to-compare-link">Compare</a>
                                        </div>
                                    </div>
                                </div><!-- /.product-inner -->
                            </div><!-- /.product-outer -->
                        </li>

                        <li class="product">
                            <div class="product-outer">
                                <div class="product-inner">
                                    <span class="loop-product-categories"><a href="product-category.html" rel="tag">Smartphones</a></span>
                                    <a href="single-product.html">
                                        <h3>Notebook Black Spire V Nitro  VN7-591G</h3>
                                        <div class="product-thumbnail">
                                            <img data-echo="/assets/client/images/products/4.jpg" src="/assets/client/images/blank.gif" alt="">
                                        </div>
                                    </a>

                                    <div class="price-add-to-cart">
                                        <span class="price">
                                            <span class="electro-price">
                                                <ins><span class="amount">&#036;1,999.00</span></ins>
                                            </span>
                                        </span>
                                        <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                    </div><!-- /.price-add-to-cart -->

                                    <div class="hover-area">
                                        <div class="action-buttons">
                                            <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                            <a href="#" class="add-to-compare-link">Compare</a>
                                        </div>
                                    </div>
                                </div><!-- /.product-inner -->
                            </div><!-- /.product-outer -->
                        </li>
                    </ul><!-- /.products -->
                </div><!-- /.related -->
            </div><!-- /.product -->

        </main><!-- /.site-main -->
    </div><!-- /.content-area -->
</div><!-- /.container -->
